@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome-Mono Project</h1>
        <p>Building Web apps with ASP.NET Core <a href="https://github.com/nemanja-dot/Mono-Projekt"> GitHub MONO Project</a>.</p>

        <p>First Mono Project</p>
    </div>