@model List<VehicleMake>
@{
    ViewData["Title"] = "All Vehicle Makes";
}

<form asp-action="VehicleMakeList" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Napravi" class="btn btn-default" /> |
        </p>
    </div>
</form>



<table>
    <tbody>
    @foreach (var vehicleMake in Model)
    {
        <tr>
            <td>
                <p>@vehicleMake.Id</p>
            </td>
            <td>
                <p>@vehicleMake.Name</p>
            </td>
            <td>
                <p>@vehicleMake.Abrv</p>
            </td>
        </tr>
    }
    </tbody>
</table>