@model List<VehicleModel>
@{
    ViewData["Title"] = "VehicleModelList";
}

<h1>VehicleModelList</h1>

<table>
    <tbody>
        @foreach (var vehicleModel in Model)
        {
            <tr>
                <td>
                    <p>@vehicleModel.Id</p>
                </td>
                <td>
                    <p>@vehicleModel.Name</p>
                </td>
                <td>
                    <p>@vehicleModel.Abrv</p>
                </td>
            </tr>
        }
    </tbody>
</table>